<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apkglobal.safetyfirst">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="First aid kit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FormActivity"
            android:label="Feedback Form" />
        <activity android:name=".EmergencyActivity" />
        <activity
            android:name=".AsthmaActivity"
            android:label="Asthma" />
        <activity
            android:name=".DrownActivity"
            android:label="Drown" />
        <activity
            android:name=".BurnsActivity"
            android:label="Burns" />
        <activity
            android:name=".BleedActivity"
            android:label="Bleed" />
        <activity
            android:name=".PoisonActivity"
            android:label="Poison" />
        <activity
            android:name=".StrokeActivity"
            android:label="Stroke" />
        <activity
            android:name=".HeadActivity"
            android:label="Head" />
        <activity
            android:name=".RecognitionActivity"
            android:label="Recognition" />
        <activity
            android:name=".Asthma1Activity"
            android:label="Asthma" />
        <activity
            android:name=".Asthma2Activity"
            android:label="Asthma" />
        <activity
            android:name=".Asthma3Activity"
            android:label="Asthma" />
        <activity
            android:name=".MinorbleedActivity"
            android:label="Minor Bleed" />
        <activity
            android:name=".WarningActivity"
            android:label="Warning" />
        <activity
            android:name=".SeverebleedActivity"
            android:label="Severe bleed" />
        <activity
            android:name=".InformationActivity"
            android:label="Information" />
        <activity
            android:name=".GeneralActivity"
            android:label="General" />
        <activity
            android:name=".ChemicalActivity"
            android:label="Chemical" />
        <activity
            android:name=".FaceActivity"
            android:label="Face/head" />
        <activity
            android:name=".assesituActivity"
            android:label="Assessing the situation" />
        <activity
            android:name=".adultActivity"
            android:label="Adult CPR" />
        <activity
            android:name=".childActivity"
            android:label="Child CPR" />
        <activity
            android:name=".infantActivity"
            android:label="Infant CPR" />
        <activity
            android:name=".dangerActivity"
            android:label="Assessing the situation" />
        <activity
            android:name=".responseActivity"
            android:label="Assessing the situation" />
        <activity
            android:name=".airwayActivity"
            android:label="Assessing the situation" />
        <activity
            android:name=".circulationActivity"
            android:label="Assessing the situation" />
        <activity
            android:name=".Adult1activity"
            android:label="Adult CPR" />
        <activity
            android:name=".Child1Activity"
            android:label="Child CPR" />
        <activity
            android:name=".Child2Activity"
            android:label="Child CPR" />
        <activity
            android:name=".Child3Activity"
            android:label="Child CPR" />
        <activity
            android:name=".Recognition1Activity"
            android:label="Recognition" />
        <activity
            android:name=".Warning1Activity"
            android:label="General warning" />
        <activity
            android:name=".TreatmentActivity"
            android:label="Treatment" />
        <activity
            android:name=".Treatment1Activity"
            android:label="Treatment" />
        <activity android:name=".Recognitionstroke" android:label="Recognition"/>
        <activity android:name=".Responsivestroke" android:label="Responsive"/>
        <activity android:name=".Unresponsive" android:label="Unresponsive"/>
        <activity android:name=".swalloActivity" android:label="Swallowed"/>
        <activity android:name=".skinActivity" android:label="Skin"/>
        <activity android:name=".drugsActivity" android:label="Drugs"></activity>
    </application>

</manifest>